#header{
    color: black;  
    background-color: #66CCFF;
    padding: 10px;
    text-align: center;
}

#container2{
    background-color: #EEE;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
#nav{
    width: 200px;
    float: right;
    text-align: center;
}

#nav .selected{
    font-weight: bold;
}

a {
    text-decoration: none;
    color:black;
}


#footer{
    padding: 10px;
    clear: both;
    background-color: black;
    color:white;
    text-align: center;
}


body{
    background-color: #EEE;
    margin: 0;
    
    font-family: Helvetica,Arial, Helvetica;
}


#nav ul {
    list-style-type: none;
    padding: 0;

}

