*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100%;
    background-color: none;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.header{
    min-height: 6vh;
    width: 100%;
    background-color: white ;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1000;
    margin-bottom: 0;
    padding-bottom: 0;
}

.title-text:hover{
    color: #4fccf3;
}


nav{
    display: flex;
    padding: 2% 6%;
    padding-top: 2%;
    margin-bottom: 0.5%;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
	top:0;
    transition: 0.6s;
}

nav img{
    position: relative;
    width: 170px;
    height: 25px;
    margin: 2px;
}
nav img:hover{
    filter: invert(100%);
}

.nav-links{
    flex:1;
    text-align: right;
    z-index:500;
}
.nav-links li{
    font-weight: 600;
    list-style: none;
    display: inline-block;
    padding:  7px 12px;
    position: relative;
}

.nav-links li a{
    color: #757575;
    text-decoration: none;
    font-size: 17px;
}
.nav-links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}

.nav-links li a:hover{
    color: black;
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 550;
}
.burger div{
    width: 22px;
    height: 2.5px;
    background-color: black;
    margin: 3.7px;
    transition: all 0.3s ease;
}

.title{
    width: 100%;
    margin: 0% auto;
    display: block;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 55px;
}

.title a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 52px;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
}
.man-head{
    font-size: 1.8rem;
}


.exp{
    text-align: center;
    z-index: 10;
    position: relative;
    width: 100%;
    margin: auto;
    font-family: 'Montserrat','sans-serif';
}

.row{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.col:hover{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
}

.shirt{
    font-size: 50px;
    animation: change 4s infinite forwards;
}

.buttons{
    margin: auto;
    width: 80%;
    text-align: center;
}

.buttons ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
}
.buttons ul li{
    display: inline-block;
    padding: 5px;
    background-color: black;
    margin: 1.5% auto;
    border-radius: 100px;
    letter-spacing: 2px;
    width: 45%;
    color: white;
}
.buttons ul a{
    text-decoration: none;
}

.buttons li{
    padding: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.buttons li:hover{
    background-color: rgb(223, 165, 223);
}



.buttons2{
    margin: auto;
    width: 80%;
    text-align: center;
}

.buttons2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
}
.buttons2 ul li{
    display: inline-block;
    padding: 5px;
    margin:auto;
    border-radius: 100px;
    letter-spacing: 2px;
    width: 20%;
    color: rgb(0, 0, 0);
}
.buttons2 ul a{
    text-decoration: none;
}

.buttons2 li{
    padding: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.volun li{
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
}
.work li:hover{
    color: rgba(132, 100, 219, 0.726);
    font-weight: bolder;
    text-decoration: underline;
}


footer{
    width: 100%;
    background-color: none;
    align-items: center;
    position: relative;
    min-height: 100px;
    margin-top: 7%;
    clear: both;
}
hr{
    align-self: center;
    margin: auto;
}
.footer-socials{
    margin: auto;
    width: 50%;
    text-align: center;
}
.footer-socials ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 15px auto;
}
.footer-socials ul li{
    display: inline-block;
}
.footer-socials li a{
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
}
.footer-socials li a:hover{
    color: blue;
}
.copyright{
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 15px;
}
.copyright a {
    text-decoration: none;
    color: gray;
}
.copyright a:hover{
    color: blue;
}
.exp-card{
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    font-size: 15px;
    width: 71%;
    margin: auto;
    background: #fff3f3;
    border-radius: 5px;
    margin-bottom: 1.5%;
    margin-top: 1%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.exp-card:hover{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.4);
}
.exp-header{
    padding-top: 2px;
    width: 100%;
}
.exp-header img{
    float: right;
}

.qu-img img{
    height:47px;
    width: 200px;
}
.qweb-img img{
    width: 161.4px;
    height: 60px;
}
.bramp-img img{
    width: 200px;
    height: 69px;
}
.ching-img img{
    width: 200px;
    height: 56.75px;
}
.title1{
    font-size: 22px;
    font-weight: bolder;
}
.position{
    font-weight: 15px;
    font-weight: bold;
    color: rgb(122, 119, 255);
}
.about{
    margin-top: 20px;
    clear: all;
    display: block;
    padding-left: 50px;
}
.about ul{
    list-style: square;
}
.about ul li{
    padding-top:7px ;
}
.sub-list{
    padding-left: 25px;
}
.sub-list li{
    list-style: disc;
    margin-bottom: -5px;
}


.nav-links span a{
    color: black;
    pointer-events: none;
}
.nav-links span a::after{
    content: '';
    width: 100%;
    height: 2px;
    background: blue;
    display:block;
    margin: auto;
}
.no-hover{
    pointer-events: none;
}
.title-text:hover{
    color: #4fccf3;
}
@media only screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    .header{
        position: fixed !important;
    }
    .title{
        margin-top:7vh ;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height: 100vh;
        width: 40%;
        top: 0vh;
        background-color: #7393B3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:40px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li{
        padding: 30px;
        opacity: 0;
    }
    .nav-links li a{
        color: black;
    }
    .burger{
        display: block;
        z-index: 550;
    }

    nav img{
        width: 130px;
        height: 19.5px;
        margin: 2px;
    }
    .title{
        font-size: 35px;
        padding-top: 2%;
    }
    .shirt{
        font-size: 35px;
    }
    .man-head{
        font-size: 1.3rem;
    }

    nav{
        padding-top: 3%;
    }

    .footer-socials li a{
        padding: 12px;
        text-decoration: none;
        font-size: 15px;
        color: gray;
    }
    .copyright{
        font-size: 12px;
    }
    .buttons{
        width: 80%;
    }
    .buttons ul li{
        font-size: 15px;
    }
    .buttons2{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .buttons ul li{
        font-size: 15px;
        width: 50%;
    }
    .exp-card{
        margin-bottom: 5%;
        margin-bottom: 5%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .qweb-img img{
        width: 75px;
        height: 27px;
    }
    .qu-img img{
        width: 75px;
        height: 18px;
    }
    .bramp-img img{
        width: 75px;
        height: 25px;
    }
    .ching-img img{
        width: 75px;
        height: 21.5px;
    }
    .about{
        margin-top: 5px;
        clear: all;
        display: block;
        padding-left: 18px;
    }
}
@media (max-width: 780px){
    .buttons ul li{
        width: 100%;
        display: block;
    }
    .buttons2 ul li{
        width: 100%;
        font-size: 20px;
        padding: 2px;
    }
    .buttons2{
        margin-top: 7px;
        padding-bottom: 9px;
    }
    .exp-card{
        width: 80%;
    }
    
}

/*Nav animations for mobile*/
.nav-active{
      transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-3px,6px);

}
.toggle .line2{
      opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-3px,-6px);
}

html{
    overflow-x: hidden;
}

@keyframes change {
    0%{ color: black }
    33% { color: rgb(255, 108, 108) }
    66%{color: rgb(98, 0, 255)}
    100%{color: black;}
}

