#container1{
    background-color: white;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #EEE;

}


#header {
    background-color: #66CCFF;
    color: black;
    text-align: center;
}