*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100%;
    background-color: none;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.header{
    min-height: 6vh;
    width: 100%;
    background-color: white ;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1000;
    margin-bottom: 0;
    padding-bottom: 0;
}

.title-text:hover{
    color: #4fccf3;
}


nav{
    display: flex;
    padding: 2% 6%;
    padding-top: 2%;
    margin-bottom: 0.5%;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
	top:0;
    transition: 0.6s;
}

nav img{
    position: relative;
    width: 170px;
    height: 25px;
    margin: 2px;
}
nav img:hover{
    filter: invert(100%);
}

.nav-links{
    flex:1;
    text-align: right;
    z-index:500;
}
.nav-links li{
    font-weight: 600;
    list-style: none;
    display: inline-block;
    padding:  7px 12px;
    position: relative;
}

.nav-links li a{
    color: #757575;
    text-decoration: none;
    font-size: 17px;
}
.nav-links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}

.nav-links li a:hover{
    color: black;
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 550;
}
.burger div{
    width: 22px;
    height: 2.5px;
    background-color: black;
    margin: 3.7px;
    transition: all 0.3s ease;
}

.title{
    width: 100%;
    margin: 0% auto;
    display: block;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 60px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.title a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 60px;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
}
.git-icon{
    padding: 5px;
    font-size: 20px;
    width: 80%;
    background-color: black;
    text-align: center;
    margin: 1.5% auto;
    border-radius: 100px;
    letter-spacing: 3px;
    color: white;
}
.git-button a{
    text-decoration: none;
}
.git-icon:hover{
    background-color: rgb(223, 165, 223);
}


.git-icon1{
    padding: 5px;
    font-size: 15px;
    width: 80%;
    background-color: rgb(255, 119, 119);
    text-align: center;
    margin: 1.5% auto;
    border-radius: 100px;
    letter-spacing: 2px;
    color: black;
    margin-bottom: 15px;
    font-weight: bold;
    
    
}
.project-git a{
    text-decoration: none;
}
.git-icon1:hover{
    background-color: rgb(223, 165, 223);
}

.projects{
    text-align: center;
    z-index: 10;
    position: relative;
    width: 100%;
    margin: auto;
    font-family: 'Montserrat','sans-serif';
}
.projects h3{
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    margin-left: 5% ;
    margin-right:5% ;
}
.projects p{
    font-size: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 22px;
}
.row{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.col{
    flex-basis: 49%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 1.5%;
    padding-top: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col:hover{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
}
.aac-pic img{
    width: 215px;
    height: 125px;
}
.ws-api-pic img{
    width: 120px;
    height: 120px;
    margin-top: 5px;
}
.moni-heal-pic img{
    width: 135px;
    height: 120px;
    margin-top: 5px;
}
.za-pic img{
    width: 173px;
    height: 125px;
}

.programs{
    flex: 1;
    padding-top: 10px;
    padding-bottom: 5px;
}
.programs li{
    list-style: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
}
.programs li a{
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    text-align: center;
    margin: 0% auto;
    border-radius: 10px;
    text-decoration: none;
}

.programs li a:hover{
    background-color: grey;
    color: white;
}
.arduino{
    background-color: 	#4fccf3;
    color: black;
}
.c-plus{
    background-color: 	#00455a;
    color: rgb(255, 255, 255);
}
.python{
    background-color: goldenrod;
    color: white;
}
.javascript{
    background-color: blue;
    color: white;
}
.java{
    background-color: crimson;
    color: white;
}

.light{
    font-size: 50px;
    animation: change 3s infinite forwards;
}
.cog{
    font-size: 1.8rem
}
@media only screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    .header{
        position: -webkit-sticky;
        position: sticky;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height: 100vh;
        width: 40%;
        top: 0vh;
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:40px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li{
        padding: 30px;
        opacity: 0;
    }
    .nav-links li a{
        color: black;
    }
    .burger{
        display: block;
        z-index: 550;
    }

    nav img{
        width: 130px;
        height: 19.5px;
        margin: 2px;
    }
    .title{
        font-size: 40px;
        padding-top: 1%;
    }
    .light{
        font-size: 35px;
    }
    .cog{
        font-size: 1.2rem;
    }
    .git-icon{
        font-size: 15px;
    }
    .git-button{
        padding-bottom: 1%;
    }
    nav{
        padding-top: 3%;
    }
    .col{
        margin-bottom: 5%;
    }
  }

/*project cards flex for mobile*/
@media (max-width: 820px){
      .row{
          flex-direction: column;
      }
  }


/*Nav animations for mobile*/
.nav-active{
      transform: translateX(0);
  }

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-3px,6px);

}
.toggle .line2{
      opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-3px,-6px);
}
/*To stop side scrolling*/
html { overflow:auto; }

@keyframes change {
    0%{ color: black }
    70% { color: yellow }
    100%{color: black}
}